<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
		<title>Todo App</title>
		<link rel="stylesheet" href="/assets/styles.css" type="text/css" />
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<h1>dsfh</h1>
		<div id="tod-table">
			<form action="">
				<input type="text" name="item" placeholder="add new item ..." />
				<button type="submit">Add Item</button>
			</form>
		</div>
		<div>
			<ul>
				<% for(let i=0 ; i < todos.length ; i++){ %>
                    <li><%= todos[i].item %></li>
                <% } %>
			</ul>
		</div>
	</body>
</html>
